
<div class="box">
    <h3 style="color:black">User</h3>
    <p>Name: <%= @user.name if @user.name %></p>
    <p>Email: <%= @user.email if @user.email %></p>
    <% @user_posts.each do |post| %>
        <%= link_to post.title, edit_post_path(post) %><br />
    <% end %>
</div>



