<% content_for :title do %>About<% end %>
<div class="centering_box">
    <div class="box">
        <h3 style="color:black ">About our Website</h3>
        <p style="color:black;">
        WhatShouldIEat? is a web-application allowing users to find recipes with the foods
        they already have at home. After logging in, you can either “swipe right or left” to
        explore choices of meals depends on their available ingredients. </p>
    </div>
</div>

 
