<% content_for :title do %>About<% end %>

<h1 style="color:black; margin:1em ">About our Website</h1>
<p style="color:black">
At What Should I Eat, there is no need to be headache about what to eat <br>
since we are here offering a great opportunity allowing you to greatly <br>
explore various options of everyday meals based on your available ingredients.</p>


 
