// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: Arial, Helvetica;
    width: 100%;
    height: 400px;
    color: black;
    background-image: url("Food2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}